*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.blg
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.nav
report/*.out
report/*.snm
report/*.synctex.gz
report/*.toc
report/*.blg
